{% extends "base.html" %}

<!-- Head Block-->
{% block head %}

	{{ super() }}

{% endblock %}
<!-- End of Head Block-->

{% block title %}

	{{ super() }}

{% endblock %}

<!-- Scripts Block-->
{% block scripts %}

	{{ super() }}

{% endblock %}
<!-- End of Scripts Block-->

<!-- Body Block-->
{% block body %}

<h1>APK Inspector</h1>

APK Name : <b>{{file_name}}</b><br/>
Is Valid : <b>{{is_valid}}</b><br/>
Version Code : <b>{{version_code}}</b><br/>
Version Name : <b>{{version_name}}</b><br/>
Package : <b>{{package}}</b><br/>

Permissions
{% for permission in permissions %}
	<b>{{permission}}</b><br/>
{% endfor %}
<br/>

Services
{% for service in services %}
	<b>{{service}}</b><br/>
{% endfor %}
<br/>

Receivers
<br/>
{% if receivers %}
	{% for receiver in receivers %}
		<b>{{receiver}}</b><br/>
	{% endfor %}
{% else %}
	None
{% endif %}
<br/>



{% endblock %}
<!-- End of Body Block-->