
{% extends "base.html" %}

<!-- Head Block-->
{% block head %}

	{{ super() }}

{% endblock %}
<!-- End of Head Block-->

{% block title %}

	{{ super() }}

{% endblock %}

<!-- Scripts Block-->
{% block scripts %}

	{{ super() }}

{% endblock %}
<!-- End of Scripts Block-->

<!-- Body Block-->
{% block body %}


<div class="container">
	Classes!
</div>​



<!-- <form action=""  method='POST'> -->
{% for o in classes_output %}
 <tr><td>   
    <!-- <input class="button1" type="submit" name = "class" value="{{ o }}" width="500px"> -->
    <a href="methods?classname={{ o }}">{{ o }}</a>
   </td></tr>
   <br>
{% endfor %}
<!-- </form> -->

<br/>



{% endblock %}
<!-- End of Body Block-->

