{% extends "base.html" %}

<!-- Head Block-->
{% block head %}

	{{ super() }}

{% endblock %}
<!-- End of Head Block-->

{% block title %}

	{{ super() }}

{% endblock %}

<!-- Scripts Block-->
{% block scripts %}

	{{ super() }}

{% endblock %}
<!-- End of Scripts Block-->

<!-- Body Block-->
{% block body %}

<div class="container">
	<form action="" method="post" enctype="multipart/form-data">
      <p><input type="file" name="file">
         <input type="submit" value="Upload">
    </form>
</div>​
{{ result }}


{% endblock %}
<!-- End of Body Block-->