{% extends "base.html" %}

<!-- Head Block-->
{% block head %}

	{{ super() }}
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/demo.css') }}">
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/normalize.css') }}">
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/tabs.css') }}">
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/tabstyles.css') }}">
	<link rel="stylesheet" 
	href="{{ url_for('static', filename = 'scripts/dist/themes/default/style.min.css') }}" />
	<script type="text/javascript"
	language="javascript"
	src="{{ url_for('static', filename = 'scripts/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript"
	language="javascript"
	src="{{ url_for('static', filename = 'scripts/modernizr.custom.js') }}"></script>
	<script type="text/javascript"
	language="javascript"
	src="{{ url_for('static', filename = 'scripts/cbpFWTabs.js') }}"></script>
	<script src="{{ url_for('static', filename = 'scripts/dist/jstree.min.js') }}"></script>

	<style type="text/css">
		#jstree_div{
		    width: 20%;
		    height:auto;
		    border: 1px solid #EEEEEE;
		    overflow-x: scroll;
		    overflow-y: hidden;
		    white-space: nowrap;
		    float: left;
		};

		.tab_container {
			width: 70%;
			float: left;
		}
	</style>


{% endblock %}
<!-- End of Head Block-->

{% block title %}

	{{ super() }}

{% endblock %}

<!-- Scripts Block-->
{% block scripts %}

	{{ super() }}

{% endblock %}
<!-- End of Scripts Block-->

<!-- Body Block-->
{% block body %}

{% set counter = 1 %}



{% if not result %}
	<div style="text-align: center;">
		<h1> APK Inspector </h1>
		<img src="{{ url_for('static', filename = 'images/logo.png') }}"></img>
	</div>
{% endif %}


<div class="container">
	<form action="" method="post" enctype="multipart/form-data">
      <p><input type="file" name="file">
         <input type="submit" value="Upload">
    </form>
</div>​

{% if result %}
<div id="jstree_div">
	<ul>
		{% for class_obj in classes_output %}
			<li class="cl" id="{{class_obj['classname']}}">{{class_obj["classname"]}}
				<ul>
					{% for m in class_obj["methods"] %}
						<li class="method" id="{{m}}">{{ m }}</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>

</div>


<div class="tab_container" style="float: left; width: 75%;">
			
			<section>
				<div class="tabs tabs-style-linetriangle">
					<nav>
						<ul>
							<li><a href="#section-linetriangle-1"><span>Strings</span></a></li>
							<li><a href="#section-linetriangle-2"><span>Manifest</span></a></li>
							<li><a href="#section-linetriangle-3"><span>Permissions</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-linetriangle-1">
							<p>{% for string in strings_output %}
								<pre>{{string}}</pre><br/>
								{% endfor %}
							</p>
						</section>

						<section id="section-linetriangle-2">
							<p>
							{% for line in manifestdata %}
								<pre><code> {{ line }} </code></pre><br/>
							{% endfor %}
							</p>
						</section>
						<section id="section-linetriangle-3">
							<p>
								{% for permission in permissions %}
								<pre>{{permission}}</pre><br/>
								{% endfor %}
							</p>
						</section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
		</div><!-- /container -->

	<script>
		(function() {
			[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
				new CBPFWTabs( el );
			});
		})();
	</script>

	<script type="text/javascript">
		$(function () { $('#jstree_div').jstree(); });
		$('#jstree_div').on("changed.jstree", function (e, data) {
	  		console.log(data.node.li_attr.class);
	  		if (data.node.li_attr.class === "cl") {
	  			window.open("class_source?classname=" + data.selected[0]);
	  		} else {
	  			window.open("cfg?methodname=" + data.selected[0]);
	  		}
	  		
		});
	</script>


{% endif %}


{% endblock %}
<!-- End of Body Block-->