{% extends "base.html" %}

<!-- Head Block-->
{% block head %}

	{{ super() }}
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/demo.css') }}">
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/normalize.css') }}">
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/tabs.css') }}">
	<link rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename = 'styles/tabstyles.css') }}">
	<link rel="stylesheet" 
	href="{{ url_for('static', filename = 'scripts/dist/themes/default/style.min.css') }}" />
	<script type="text/javascript"
	language="javascript"
	src="{{ url_for('static', filename = 'scripts/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript"
	language="javascript"
	src="{{ url_for('static', filename = 'scripts/modernizr.custom.js') }}"></script>
	<script type="text/javascript"
	language="javascript"
	src="{{ url_for('static', filename = 'scripts/cbpFWTabs.js') }}"></script>
	<script src="{{ url_for('static', filename = 'scripts/dist/jstree.min.js') }}"></script>

	<style type="text/css">
		#jstree_div{
		    width: 20%;
		    height:auto;
		    border: 1px solid #EEEEEE;
		    overflow-x: scroll;
		    overflow-y: hidden;
		    white-space: nowrap;
		    float: left;
		};

		.tab_container {
			width: 70%;
			float: left;
		}
	</style>



{% endblock %}
<!-- End of Head Block-->

{% block title %}

	{{ super() }}

{% endblock %}

<!-- Scripts Block-->
{% block scripts %}

	{{ super() }}

{% endblock %}
<!-- End of Scripts Block-->

<!-- Body Block-->
{% block body %}

{% set counter = 1 %}


<div style="text-align: center;">
	<h1> APK Inspector </h1>
	<img src="{{ url_for('static', filename = 'images/logo.png') }}"></img>
</div>


<div class="container">
	<form action="" method="post" enctype="multipart/form-data">
      <p><input type="file" name="file">
         <input type="submit" value="Upload">
    </form>
</div>​


{% endblock %}
<!-- End of Body Block-->